absl-py==0.9.0
aiodns==1.1.1
aiofile==1.5.2
aiohttp==3.6.2
alembic==1.4.2
anaconda==0.0.1.1
appdirs==1.4.4
apptools==4.5.0
asciinema==2.0.2
astunparse==1.6.3
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==20.3.0
backcall==0.2.0
backtrader==1.9.74.123
base58==2.0.1
beautifulsoup4==4.9.3
bigtiff==0.1.2
bitarray==1.2.2
-e git+git@github.com:aahutsal/dotfiles.git@b660dc9e16f23a8c9bb7de14f55e8ef7c466e5bc#egg=bitcoin_arbitrage
BitcoinExchangeFH @ file:///home/gutsalarsen/dev/arbiterria/data-feeder/BitcoinExchangeFH
bs4==0.0.1
cached-property==1.5.1
cachetools==4.1.0
cchardet==2.1.6
ccxt==1.28.68
certifi==2020.12.5
cffi==1.14.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptofeed==1.4.1
cryptography==3.4.6
cycler==0.10.0
Cython==0.29.21
cytoolz==0.10.1
decorator==4.4.2
distlib==0.3.0
distro-info==0.21
docker==3.4.1
docker-compose==1.21.0
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
envisage==4.9.2
eth-abi==2.1.1
eth-account==0.5.2
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.1.2
eth-typing==2.2.1
eth-utils==1.9.0
filelock==3.0.12
Flask==1.1.2
gast==0.3.3
google-auth==1.17.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
hexbytes==0.2.1
httpie==0.9.8
idna==2.10
imageio==2.8.0
imageio-ffmpeg==0.4.3
importlib-metadata==1.6.1
iniconfig==1.1.1
ipfshttpclient==0.6.0.post1
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.11.2
jsonschema==3.2.0
kaitaistruct==0.8
Keras==2.4.0
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lru-dict==1.1.6
lxml==4.5.2
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mayavi==4.7.1
mlab==1.1.4
moviepy==1.0.3
multiaddr==0.0.9
multidict==4.7.6
munkres==1.1.2
netaddr==0.8.0
networkx==2.4
nose==1.3.7
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.2.1
packaging==20.8
pandas==1.0.4
parsimonious==0.8.1
parso==0.7.0
peregrinearb @ git+git://github.com/Stakedllc/peregrine.git@e84971bae80aa2c03242a54f8451af0c1a3c4aa5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pipenv==2020.6.2
pluggy==0.13.1
proglog==0.1.9
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.12.2
ptyprocess==0.6.0
pushbullet @ git+https://github.com/Azelphur/pyPushBullet.git@d230d80419f105367dade9337539dd112d574869
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==3.1.1
pycparser==2.20
pycryptodome==3.9.8
pycurl==7.43.0.2
pyee==7.0.2
pyface==7.0.0
pyflakes==2.2.0
Pygments==2.6.1
PyGObject==3.30.4
pyilastik==0.0.7
pyparsing==2.4.7
pyppeteer==0.2.2
pyrsistent==0.16.0
PySocks==1.7.1
pytest==6.2.1
pytest-clarity==0.3.0a0
python-apt==1.8.4.3
python-dateutil==2.8.1
python-dotenv==0.13.0
python-editor==1.0.4
pytz==2020.1
PyWavelets==1.1.1
pyxattr==0.6.1
PyYAML==5.3.1
pyzmq==19.0.1
requests==2.25.1
requests-oauthlib==1.3.0
rlp==1.2.0
rsa==4.6
scikit-image==0.17.2
scipy==1.4.1
six==1.12.0
sortedcontainers==2.2.2
soupsieve==2.1
SQLAlchemy==1.3.17
tabulate==0.8.7
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
texttable==1.6.0
tifffile==2020.6.3
toml==0.10.2
toolz==0.10.0
tqdm==4.48.2
traitlets==4.3.3
traits==6.1.0
traitsui==7.0.0
tweepy==3.9.0
typing-extensions==3.7.4.2
unattended-upgrades==0.1
urllib3==1.26.2
varint==1.0.2
virtualenv==20.0.21
virtualenv-clone==0.5.4
vtk==8.1.2
wcwidth==0.2.5
web3==5.12.0
websocket-client==0.53.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
xmltodict==0.12.0
yapic==1.0.1
yapic-io==0.1.0
yapic.json==1.5.1
yarl==1.1.0
youtube-dl==2019.1.17
zipp==3.1.0
